.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.header ul{ 
  display: flex;
  list-style-type: none;
}
.header ul li a{
  text-decoration: none;
  color: white;
  padding: 15px;
  font-weight: bold;
}
.header ul li a:hover{
  border-bottom: 2px solid black;
}
.bodyContentImage{
  text-align: center;
}
.bodyContentImage .profile-photo{
  width: 150px;
  border-radius: 50%;
}
.social{
  position: relative;
  bottom: 270px;
  float: right;
}
.social img{
  padding: 15px;
}
.expertise{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
}
.skills{
  display: flex;
  flex-direction: row;
  height: 120px;
  width: 20%;
  box-shadow: 5px 5px 10px #888888;
}
.skills .skillsLogo{
  display: flex;
  position: relative;
  top: 30px;
  right: 25px;
  border-radius: 50%;
  height: 50px;
  width: 20%;
  background-color: white;
  box-shadow: 5px 5px 10px #888888;
}
.skillsLogo:hover{
  cursor: pointer;
  background-color: rgb(59, 174, 250);
}
.workingArea{
  display: flex;
  flex-direction: column;
  margin-top: 450px;
  position: relative;
}
.aboutMe{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  position: relative;
}
.myInformation{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.myInformation ul{
  list-style-type: none;
}
.myInformation ul li{
  position: relative;
  left: -40px;
  padding-bottom: 15px;
}
.mySkills{
  width:100%;
}
.skillHTML{
  width: 90%; background-color: blue;
  color: white;
}
.skillCSS{
  width: 70%; background-color: blue;
  color: white;
}
.skillJS{
  width: 65%; background-color: blue;
  color: white;
}
.portfolio{
  display: flex;
  flex-direction: column;
}
.portfolio-nav{
  border-bottom: 1px solid rgb(223, 213, 213);
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}
.portfolio-nav ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.portfolio-nav ul li a{
  text-decoration: none;
  color: black;
  padding: 15px;
}
.portfolio-nav ul li a:hover{
  cursor: pointer;
  border-bottom: 2px solid rgb(158, 158, 240);
}
.photo-grid{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.photo-grid img{
  width: 350px;
  transition: transform .5s;
}
.photo-grid img:hover{
  cursor: pointer;
  transform: scale(0.9);
}
.slider{
  margin-top: 50px;
  height: 300px;
  width: 100%;
  background-color: blue;
}
.myTeam{
  display:flex;
  flex-direction: column;
}
.myTeams{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.people{
  display: flex;
  flex-direction: column;
}
.people-icon{
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 300px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 5px 5px 10px #888888;
}
.people-icon:hover{
  cursor: pointer;
  background-color: rgb(0, 132, 255);
}
.icon img{
  border-bottom-left-radius: 10%;
  border-top-left-radius: 10%;
}
.members-description{
  width: 100%;
}
.moreAboutMembers{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
  background-color: blue;
}
.moreAboutMembers .detail{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 50px;
}
.skillGrid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 280px;
  width: 40%;
  margin-top: 70px;
}
.socialMedia{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.skillGirdHTML{
  height: 120px;
  width: 40%;
  background-color: white;
  border-radius: 10px;
}
.skillGridCSS{
  height: 120px;
  width: 40%;
  background-color: white;
  border-radius: 10px;
}
.slillGridJS{
  height: 120px;
  width: 40%;
  background-color: white;
  border-radius: 10px;
}
.skillGridNET{
  height: 120px;
  width: 40%;
  background-color: white;
  border-radius: 10px;
}
.statistics{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 100px;
  height: 200px;
  width: 100%;
  background-color: blue;
}
.projectCompleted{
  display: flex;
  margin-top: 60px;
  flex-direction: column;
}
.happyCustomer{
  display: flex;
  margin-top: 60px;
  flex-direction: column;
}
.workingHours{
  display: flex;
  margin-top: 60px;
  flex-direction: column;
}
.greatFeedbacks{
  display: flex;
  margin-top: 60px;
  flex-direction: column;
}
.blogPost{
  display: flex;
  flex-direction: column;
}
.imageDetails{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
}
.imageFirst{
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 25%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #888888;
  transition: transform .5s;
}
.imageSecond{
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 25%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #888888;
  transition: transform .5s;
}
.imageThird{
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 25%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #888888;
  transition: transform .5s;
}
.imageFirst:hover{
  cursor: pointer;
  transform: scale(0.9);
}
.imageSecond:hover{
  cursor: pointer;
  transform: scale(0.9);
}
.imageThird:hover{
  cursor: pointer;
  transform: scale(0.9);
}
.date{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  border-bottom: 1px solid #dad8d8;
}
.footer{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 300px;
  width: 100%;
  background-color: rgb(63, 59, 59);
  margin-top:100px;
}
.navigationBottom{
  border-bottom: 1px solid rgb(43, 39, 39);
}
.navigationBottom ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}
.navigationBottom ul li a{
  text-decoration: none;
  color: rgb(145, 141, 141);
  padding: 15px;
}
.navigationBottom ul li a:hover{
  border-bottom: 2px solid black;
}