body{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-right: 30px;
  }
  
  li {
    float: right;
    font-size: 20px;
    background: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
  }
  .img{
  display: flex;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  width : 150px;
  height: 150px;
  margin-top: -30px;
  }
  .name{
    margin-top: 5px;
    font-size: 25px;
    margin-left: -5px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  }
  .description{
    margin-top: -25px;
    font-size: 15px;
    margin-left: -5px;
    color: whitesmoke;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  }
  .facebook{
    float: right;
    width: 10px;
    margin-right: 50px;
    margin-top: -180px;
  }
  .facebook:hover{
    cursor: pointer;
  }
  .twitter{
    float: right;
    width: 20px;
    margin-right: 46px;
    margin-top: -132px;
  }
  .twitter:hover{
    cursor: pointer;
  }
  .google{
    float: right;
    width: 20px;
    margin-right: 43px;
    margin-top: -90px;
  }
  .google:hover{
    cursor: pointer;
  }
  .instagram{
    float: right;
    width: 30px;
    margin-right: 40px;
    margin-top: -45px;
  }
  .instagram:hover{
    cursor: pointer;
  }
  .incwell{
    float: left;
    width: 50px;
    margin-top: -230px;
    margin-left: 50px;
  }
  .incwell:hover{
    cursor: pointer;
  }
  .button{
    float: right;
    margin-right: 580px;
    margin-top: -10px;
    width : 130px;
  }
  .area{
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-left: 50px;
    text-decoration: underline;
    color: white;
  }
  p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -10px;
    margin-left: 50px;
    color: white;
  }
  .title{
    height: 200px;
    width: 300px;
    margin-left: 50px;
    margin-top: 65px;
    box-shadow: 5px 10px 18px #888888;
    background: white;
    border-radius: 5%;
    float: left;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .title1{
    height: 200px;
    width: 300px;
    margin-left: 500px;
    margin-top: 83px;
    box-shadow: 5px 10px 18px #888888;
    background: white;
    border-radius: 5%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .title2{
    height: 200px;
    width: 300px;
    margin-right: 50px;
    margin-top: -220px;
    box-shadow: 5px 10px 18px #888888;
    background: white;
    border-radius: 5%;
    float: right;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .circle{
    z-index: 1;
    position: absolute;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 50%;
    height : 100px;
    width: 100px;
    margin-top: -170px;
    background-color: white;
  }
  .circle:hover{
    cursor: pointer;
    background-color: blue;
  }
  .circle1{
    z-index: 1;
    position: absolute;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 50%;
    height : 100px;
    width: 100px;
    margin-top: -170px;
    margin-left: 450px;
    background-color: white;
  }
  .circle1:hover{
    cursor: pointer;
    background-color: blue;
  }
  .circle2{
    z-index: 1;
    position: absolute;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 50%;
    height : 100px;
    width: 100px;
    margin-top: -170px;
    margin-left: 895px;
    background-color: white;
  }
  .circle2:hover{
    cursor: pointer;
    background-color: blue;
  }
  .circleImage{
    height : 50px;
    width: 50px;
    margin-top: 25px;
    margin-left: 25px;
  }
  .circleImage1{
    height : 50px;
    width: 50px;
    margin-top: 25px;
    margin-left: 25px;
  }
  .circleImage2{
    float: right;
    height : 50px;
    width: 50px;
    margin-top: 25px;
    margin-right: 25px; 
  }